nav {
	list-style-type: none;
	background-color: blue;
	color: gold;
}

ul {
	list-style-type: none;
	margin: 30px;
	font-size: 20px;
}

li a {
	font-family: arial;
	list-style-type: none;
	color: white;
}

li {
	display: inline;
	padding: 60px;
	padding-bottom: 30px;
	padding-top: 10px;
}

body {
	font-family: arial;
}

.foot {
	text-align: center;
	font-family: arial, sans-serif;
	font-size: 12px;
}

p3 {
	float: left;
	margin-right: 50px;
}

form {
	border-style: solid;
	border-color: blue;
	text-align: left;
	margin-bottom: 170px;
	margin-top: 100px;
	padding-left: 40px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.qalist {
	display: block;
}

.logos {
	float: left;
	padding: 20px;
}