nav {
	list-style-type: none;
	background-color: blue;
	color: black;
	text-align: center;
	min-width: 750px;
}

ul {
	list-style-type: none;
	margin: 30px;
	font-size: 20px;
	min-width: 750px;
}

li a {
	font-family: arial;
	list-style-type: none;
	color: white;
	min-width: 750px;
}

li {
	display: inline;
	padding: 60px;
	padding-bottom: 30px;
	padding-top: 10px;
	min-width: 750px;
}

body {
	font-family: arial;
	min-width: 750px;
}

.foot {
	text-align: center;
	font-family: arial, sans-serif;
	font-size: 12px;
	margin-top: 200px;
	color: black;
	min-width: 750px;
}

p3 {
	float: left;
	margin-right: 50px;
	min-width: 750px;
}

form {
	border-style: solid;
	border-color: blue;
	text-align: left;
	margin-bottom: 170px;
	margin-top: 100px;
	padding-left: 40px;
	padding-bottom: 10px;
	padding-top: 10px;
	min-width: 750px;
}

.qalist {
	display: block;
}

.logos {
	float: left;
	padding: 20px;
}

img {
	box-shadow: 10px;
}

a:hover {
    color: gold;
}

.yuba {
	text-align: right;
	float: right;
	padding: 80px;
}

.code {
	text-align: right;
	float: right;
	padding: 50px;
}

.csrm {
	float: left;
	padding: 10px;
}

.rice {
	color: black;
}