nav {
	color: gold;
	list-style-type: none;
	display: block;
}

ul {
	list-style-type: none;
	display: inline;
}

li a {
	color: black;
	list-style-type: none;
	font-family: arial;
}

body {
	font-family: arial;
}

.foot {
	text-align: center;
}

p3 {
	float: left;
	margin-right: 50px;
}